In [3]:
! pip install pandas numpy


import pandas as pd
import numpy as np

import os

Requirement already satisfied: pandas in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
SEEDS = ['actor', 
         'amusement_park', 
         'band', 
         'championship', 
         'chemical_element', 
         'company', 
         'comune', 
         'dialect', 
         'film', 
         'scientist', 
         'sculpture', 
         'university', 
         'vehicle', 
         'video_game']


SIZES = [2,3,4,5,6]

In [9]:
real_time = None
algorithm_time = None


for seed in SEEDS:
    for size in SIZES:
        _tmp = pd.read_csv(f'../pyrunlim_output_true_true/{seed}/{size}.csv', sep=';')
        _tmp2 = pd.read_csv(f'../24-09-13/{seed}/{size}.csv', sep=';')
        if real_time is None:
            real_time = _tmp
        else:
            real_time = pd.concat([real_time, _tmp])
        if algorithm_time is None:
            algorithm_time = _tmp2
        else:
            algorithm_time = pd.concat([algorithm_time, _tmp2])
        

print(real_time.columns)
print(real_time.shape)

# drop the Unnamed: 20 column
#new_core_real_time = new_core_real_time.drop('Unnamed: 20', axis=1)

print(algorithm_time.columns)
print(algorithm_time.shape)

# drop the Unnamed: 20 column

algorithm_time = algorithm_time.drop('Unnamed: 20', axis=1)

Index(['UNIT', 'SEED', 'SIZE', 'TILDE', 'NEW', 'REALTIME', 'CHARACTERIZATION'], dtype='object')
(700000, 7)
Index(['SEED', 'UNIT', 'UNIT_SIZE', 'SUMMARY_SIZES', 'WT_SUMMARY_SIZES',
       'SUMMARY_TILDE_SIZES', 'OLDKER_SIZE', 'WT_OLDKER_SIZE', 'NEWKER_SIZE',
       'WT_NEWKER_SIZE', 'OLDCORE_SIZE', 'WT_OLDCORE_SIZE', 'NEWCORE_SIZE',
       'WT_NEWCORE_SIZE', 'SUMMARY_COMPUTATION_TIME',
       'SUMMARY_TILDE_COMPUTATION_TIME', 'OLDKER_COMPUTATION_TIME',
       'NEWKER_COMPUTATION_TIME', 'OLDCORE_COMPUTATION_TIME',
       'NEWCORE_COMPUTATION_TIME', 'Unnamed: 20'],
      dtype='object')
(700000, 21)

In [12]:
# i want the columns: unit, summary_tilde_computation_time and newker_computation_time and a new column in the end with the sum of summary_tilde_computation_time and newker_computation_time


algorithm_time = algorithm_time[['UNIT', 'SUMMARY_TILDE_COMPUTATION_TIME', 'NEWKER_COMPUTATION_TIME']]

algorithm_time['TOTAL_ALGORITHM_TIME'] = algorithm_time['SUMMARY_TILDE_COMPUTATION_TIME'] + algorithm_time['NEWKER_COMPUTATION_TIME']


algorithm_time

/tmp/ipykernel_9201/2146505696.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  algorithm_time['TOTAL_ALGORITHM_TIME'] = algorithm_time['SUMMARY_TILDE_COMPUTATION_TIME'] + algorithm_time['NEWKER_COMPUTATION_TIME']

,UNIT,SUMMARY_TILDE_COMPUTATION_TIME,NEWKER_COMPUTATION_TIME,TOTAL_ALGORITHM_TIME
0,"bn:00915979n,bn:02426205n",166.27281,0.47434,166.74715
1,"bn:15939213n,bn:05144812n",159.66753,0.30096,159.96849
2,"bn:02688185n,bn:05472498n",165.66927,0.36817,166.03744
3,"bn:08476136n,bn:03875359n",165.23915,0.30547,165.54462
4,"bn:03340439n,bn:02366938n",163.00551,0.53593,163.54144
...,...,...,...,...
9995,"bn:14680116n,bn:15167827n,bn:02922669n,bn:0285...",53.39288,1.08446,54.47734
9996,"bn:14400546n,bn:21289459n,bn:00766180n,bn:0297...",62.79648,1.46194,64.25842
9997,"bn:00163243n,bn:01802600n,bn:01178985n,bn:1387...",57.14554,1.00288,58.14842
9998,"bn:13905103n,bn:16848904n,bn:01599502n,bn:0054...",56.67127,1.02951,57.70078
9999,"bn:15034097n,bn:03515031n,bn:15918044n,bn:0063...",75.82308,1.04098,76.86406

In [13]:
# i want "unit" "seed" "size" and "realtime" columns (CAPSLOCK)

real_time = real_time[['UNIT', 'SEED', 'SIZE', 'REALTIME']]
real_time.columns = ['UNIT', 'SEED', 'SIZE', 'REALTIME']
real_time

,UNIT,SEED,SIZE,REALTIME
0,"bn:00915979n,bn:02426205n",actor,2,0.766
1,"bn:15939213n,bn:05144812n",actor,2,0.783
2,"bn:02688185n,bn:05472498n",actor,2,0.764
3,"bn:08476136n,bn:03875359n",actor,2,0.766
4,"bn:03340439n,bn:02366938n",actor,2,0.768
...,...,...,...,...
9995,"bn:14680116n,bn:15167827n,bn:02922669n,bn:0285...",video_game,6,0.667
9996,"bn:14400546n,bn:21289459n,bn:00766180n,bn:0297...",video_game,6,0.658
9997,"bn:00163243n,bn:01802600n,bn:01178985n,bn:1387...",video_game,6,0.671
9998,"bn:13905103n,bn:16848904n,bn:01599502n,bn:0054...",video_game,6,0.672
9999,"bn:15034097n,bn:03515031n,bn:15918044n,bn:0063...",video_game,6,0.671

In [14]:
# i want to merge the two dataframes on the UNIT column

merged = pd.merge(algorithm_time, real_time, on='UNIT')


merged

,UNIT,SUMMARY_TILDE_COMPUTATION_TIME,NEWKER_COMPUTATION_TIME,TOTAL_ALGORITHM_TIME,SEED,SIZE,REALTIME
0,"bn:00915979n,bn:02426205n",166.27281,0.47434,166.74715,actor,2,0.766
1,"bn:15939213n,bn:05144812n",159.66753,0.30096,159.96849,actor,2,0.783
2,"bn:02688185n,bn:05472498n",165.66927,0.36817,166.03744,actor,2,0.764
3,"bn:08476136n,bn:03875359n",165.23915,0.30547,165.54462,actor,2,0.766
4,"bn:03340439n,bn:02366938n",163.00551,0.53593,163.54144,actor,2,0.768
...,...,...,...,...,...,...,...
699995,"bn:14680116n,bn:15167827n,bn:02922669n,bn:0285...",53.39288,1.08446,54.47734,video_game,6,0.667
699996,"bn:14400546n,bn:21289459n,bn:00766180n,bn:0297...",62.79648,1.46194,64.25842,video_game,6,0.658
699997,"bn:00163243n,bn:01802600n,bn:01178985n,bn:1387...",57.14554,1.00288,58.14842,video_game,6,0.671
699998,"bn:13905103n,bn:16848904n,bn:01599502n,bn:0054...",56.67127,1.02951,57.70078,video_game,6,0.672
699999,"bn:15034097n,bn:03515031n,bn:15918044n,bn:0063...",75.82308,1.04098,76.86406,video_game,6,0.671

In [15]:
# i want all in seconds (SUMMARY_TILDE_COMPUTATION_TIME, NEWKER_COMPUTATION_TIME, TOTAL_ALGORITHM_TIME are in milliseconds)

merged['SUMMARY_TILDE_COMPUTATION_TIME'] = merged['SUMMARY_TILDE_COMPUTATION_TIME'] / 1000

merged['NEWKER_COMPUTATION_TIME'] = merged['NEWKER_COMPUTATION_TIME'] / 1000

merged['TOTAL_ALGORITHM_TIME'] = merged['TOTAL_ALGORITHM_TIME'] / 1000


merged

,UNIT,SUMMARY_TILDE_COMPUTATION_TIME,NEWKER_COMPUTATION_TIME,TOTAL_ALGORITHM_TIME,SEED,SIZE,REALTIME
0,"bn:00915979n,bn:02426205n",0.166273,0.000474,0.166747,actor,2,0.766
1,"bn:15939213n,bn:05144812n",0.159668,0.000301,0.159968,actor,2,0.783
2,"bn:02688185n,bn:05472498n",0.165669,0.000368,0.166037,actor,2,0.764
3,"bn:08476136n,bn:03875359n",0.165239,0.000305,0.165545,actor,2,0.766
4,"bn:03340439n,bn:02366938n",0.163006,0.000536,0.163541,actor,2,0.768
...,...,...,...,...,...,...,...
699995,"bn:14680116n,bn:15167827n,bn:02922669n,bn:0285...",0.053393,0.001084,0.054477,video_game,6,0.667
699996,"bn:14400546n,bn:21289459n,bn:00766180n,bn:0297...",0.062796,0.001462,0.064258,video_game,6,0.658
699997,"bn:00163243n,bn:01802600n,bn:01178985n,bn:1387...",0.057146,0.001003,0.058148,video_game,6,0.671
699998,"bn:13905103n,bn:16848904n,bn:01599502n,bn:0054...",0.056671,0.001030,0.057701,video_game,6,0.672
699999,"bn:15034097n,bn:03515031n,bn:15918044n,bn:0063...",0.075823,0.001041,0.076864,video_game,6,0.671

In [18]:
# i want a new column "DIFFERENCE" which is TOTAL_ALGORITHM_TIME - REALTIME

merged['DIFFERENCE'] = merged['REALTIME'] - merged['TOTAL_ALGORITHM_TIME']

In [19]:
# count the number of rows where the difference is negative

merged[merged['DIFFERENCE'] < 0].shape[0]

1

In [20]:
#show the case where the difference is negative

merged[merged['DIFFERENCE'] < 0]

,UNIT,SUMMARY_TILDE_COMPUTATION_TIME,NEWKER_COMPUTATION_TIME,TOTAL_ALGORITHM_TIME,SEED,SIZE,REALTIME,DIFFERENCE
59931,"bn:04729197n,bn:02393196n",0.718729,0.000198,0.718927,amusement_park,2,0.664,-0.054927

In [28]:
# i want "difference in percentage" which is total_algorithm_time : real_time = x : 100

merged['DIFFERENCE_PERCENTAGE'] = (merged['TOTAL_ALGORITHM_TIME'] * 100) / merged['REALTIME']

In [29]:
merged

,UNIT,SUMMARY_TILDE_COMPUTATION_TIME,NEWKER_COMPUTATION_TIME,TOTAL_ALGORITHM_TIME,SEED,SIZE,REALTIME,DIFFERENCE,DIFFERENCE_PERCENTAGE
0,"bn:00915979n,bn:02426205n",0.166273,0.000474,0.166747,actor,2,0.766,0.599253,21.768557
1,"bn:15939213n,bn:05144812n",0.159668,0.000301,0.159968,actor,2,0.783,0.623032,20.430203
2,"bn:02688185n,bn:05472498n",0.165669,0.000368,0.166037,actor,2,0.764,0.597963,21.732649
3,"bn:08476136n,bn:03875359n",0.165239,0.000305,0.165545,actor,2,0.766,0.600455,21.611569
4,"bn:03340439n,bn:02366938n",0.163006,0.000536,0.163541,actor,2,0.768,0.604459,21.294458
...,...,...,...,...,...,...,...,...,...
699995,"bn:14680116n,bn:15167827n,bn:02922669n,bn:0285...",0.053393,0.001084,0.054477,video_game,6,0.667,0.612523,8.167517
699996,"bn:14400546n,bn:21289459n,bn:00766180n,bn:0297...",0.062796,0.001462,0.064258,video_game,6,0.658,0.593742,9.765717
699997,"bn:00163243n,bn:01802600n,bn:01178985n,bn:1387...",0.057146,0.001003,0.058148,video_game,6,0.671,0.612852,8.665934
699998,"bn:13905103n,bn:16848904n,bn:01599502n,bn:0054...",0.056671,0.001030,0.057701,video_game,6,0.672,0.614299,8.586426
699999,"bn:15034097n,bn:03515031n,bn:15918044n,bn:0063...",0.075823,0.001041,0.076864,video_game,6,0.671,0.594136,11.455151

In [33]:
# i want max adn min difference in percentage

print(merged['DIFFERENCE_PERCENTAGE'].max())
print(merged['DIFFERENCE_PERCENTAGE'].min())
print(merged['DIFFERENCE_PERCENTAGE'].mean())

108.27211445783132
0.5806213768115941
10.98790946965941

In [32]:
# i want the percentiles of the difference in percentage

print(merged['DIFFERENCE_PERCENTAGE'].quantile([0.25, 0.5, 0.75, 0.9, 0.95, 0.99]))

0.25     5.117790
0.50     7.722886
0.75    16.931084
0.90    22.199903
0.95    23.594702
0.99    25.819040
Name: DIFFERENCE_PERCENTAGE, dtype: float64

In [ ]:
# how many cases are above 5% difference

print(merged[merged['DIFFERENCE_PERCENTAGE'] < 25].shape[0])

686689
692079