In [59]:
! pip install pandas numpy


import pandas as pd
import numpy as np

import os

Requirement already satisfied: pandas in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [60]:
SEEDS = ['actor', 
         'amusement_park', 
         'band', 
         'championship', 
         'chemical_element', 
         'company', 
         'comune', 
         'dialect', 
         'film', 
         'scientist', 
         'sculpture', 
         'university', 
         'vehicle', 
         'video_game']


SIZES = [2,3,4,5,6]

In [61]:
# file fix

"""
for seed in SEEDS:
    for size in SIZES:
        # open the file '../pyrunlim_output_true_true/{seed}/{size}.csv'
        # and put a "\n" after the word "CHARACTERIZATION"
        content = None
        print(f'../pyrunlim_output_true_true/{seed}/{size}.csv')
        with open(f'../pyrunlim_output_true_true/{seed}/{size}.csv', 'r') as f:
            content = f.read()
            print(content[:55])
            content = content.replace('UNIT;SEED;SIZE;TILDE;NEW;REALTIME;CHARACTERIZATION', 'UNIT;SEED;SIZE;TILDE;NEW;REALTIME;CHARACTERIZATION\n')
            print(content[:55])
        
        with open(f'../pyrunlim_output_true_true/{seed}/{size}.csv', 'w') as f:
            f.write(content)
"""

'\nfor seed in SEEDS:\n    for size in SIZES:\n        # open the file \'../pyrunlim_output_true_true/{seed}/{size}.csv\'\n        # and put a "\n" after the word "CHARACTERIZATION"\n        content = None\n        print(f\'../pyrunlim_output_true_true/{seed}/{size}.csv\')\n        with open(f\'../pyrunlim_output_true_true/{seed}/{size}.csv\', \'r\') as f:\n            content = f.read()\n            print(content[:55])\n            content = content.replace(\'UNIT;SEED;SIZE;TILDE;NEW;REALTIME;CHARACTERIZATION\', \'UNIT;SEED;SIZE;TILDE;NEW;REALTIME;CHARACTERIZATION\n\')\n            print(content[:55])\n        \n        with open(f\'../pyrunlim_output_true_true/{seed}/{size}.csv\', \'w\') as f:\n            f.write(content)\n'

In [62]:
new_ker_real_time = None

print(os.listdir('../pyrunlim_output_true_true'))

for seed in SEEDS:
    for size in SIZES:
        _tmp = pd.read_csv(f'../pyrunlim_output_true_true/{seed}/{size}.csv', sep=';')
        if new_ker_real_time is None:
            new_ker_real_time = _tmp
        else:
            new_ker_real_time = pd.concat([new_ker_real_time, _tmp])

print(new_ker_real_time.columns)
print(new_ker_real_time.shape)

# drop the Unnamed: 20 column
#new_core_real_time = new_core_real_time.drop('Unnamed: 20', axis=1)

print(new_ker_real_time.columns)
print(new_ker_real_time.shape)


print(new_ker_real_time.head())

['vehicle', 'comune', 'script.sh', 'university', 'dialect', 'sculpture', 'amusement_park', 'film', 'video_game', 'scientist', 'chemical_element', 'company', 'championship', 'actor', 'band']
Index(['UNIT', 'SEED', 'SIZE', 'TILDE', 'NEW', 'REALTIME', 'CHARACTERIZATION'], dtype='object')
(700000, 7)
Index(['UNIT', 'SEED', 'SIZE', 'TILDE', 'NEW', 'REALTIME', 'CHARACTERIZATION'], dtype='object')
(700000, 7)
                        UNIT   SEED  SIZE  TILDE   NEW  REALTIME  \
0  bn:00915979n,bn:02426205n  actor     2   True  True     0.766
1  bn:15939213n,bn:05144812n  actor     2   True  True     0.783
2  bn:02688185n,bn:05472498n  actor     2   True  True     0.764
3  bn:08476136n,bn:03875359n  actor     2   True  True     0.766
4  bn:03340439n,bn:02366938n  actor     2   True  True     0.768

                                    CHARACTERIZATION
0  2[o     0.674] OCCUPATION(X, bn:00001176n), IN...
1  2[o     0.659] OCCUPATION(X, bn:16092824n), IN...
2  2[o     0.655] INSTANCE_OF(X, bn:00001176n), O...
3  2[o     0.649] INSTANCE_OF(X, bn:00001176n), C...
4  2[o     0.655] INSTANCE_OF(X, bn:00001181n), I...

In [63]:
# describe the REALTIME column
# also counting the number of times the value is >= 1

print(new_ker_real_time['REALTIME'].describe())
abs = new_ker_real_time['REALTIME'].apply(lambda x: x >= 1).sum()
perc = new_ker_real_time['REALTIME'].apply(lambda x: x >= 1).sum() / new_ker_real_time.shape[0] * 100
perc = perc.round(3)
print(f"Insances above one second of real-time computation: {abs}")
print(f"Percentage of instances above 1 second: {perc}%")

count    700000.000000
mean          0.698345
std           0.056847
min           0.543000
25%           0.663000
50%           0.667000
75%           0.767000
max           1.050000
Name: REALTIME, dtype: float64
Insances above one second of real-time computation: 2
Percentage of instances above 1 second: 0.0%

In [64]:
# COMPUTE THE PERCENTAGE OF INSTANCES THAT ARE ABOVE 1 SECOND

In [65]:
# take just the rows where the REALTIME is >= 1

#new_ker_real_time = new_ker_real_time[new_ker_real_time['REALTIME'] >= 1]

In [66]:
new_ker_real_time.head()

,UNIT,SEED,SIZE,TILDE,NEW,REALTIME,CHARACTERIZATION
0,"bn:00915979n,bn:02426205n",actor,2,True,True,0.766,"2[o 0.674] OCCUPATION(X, bn:00001176n), IN..."
1,"bn:15939213n,bn:05144812n",actor,2,True,True,0.783,"2[o 0.659] OCCUPATION(X, bn:16092824n), IN..."
2,"bn:02688185n,bn:05472498n",actor,2,True,True,0.764,"2[o 0.655] INSTANCE_OF(X, bn:00001176n), O..."
3,"bn:08476136n,bn:03875359n",actor,2,True,True,0.766,"2[o 0.649] INSTANCE_OF(X, bn:00001176n), C..."
4,"bn:03340439n,bn:02366938n",actor,2,True,True,0.768,"2[o 0.655] INSTANCE_OF(X, bn:00001181n), I..."

In [67]:
# describe the REALTIME column

print(new_ker_real_time['REALTIME'].describe())

count    700000.000000
mean          0.698345
std           0.056847
min           0.543000
25%           0.663000
50%           0.667000
75%           0.767000
max           1.050000
Name: REALTIME, dtype: float64

In [68]:
# print all the  values of the REALTIME column

print(new_ker_real_time['REALTIME'].values)

[0.766 0.783 0.764 ... 0.671 0.672 0.671]

In [69]:
print(new_ker_real_time['CHARACTERIZATION'].values)

['2[o     0.674] OCCUPATION(X, bn:00001176n), INSTANCE_OF(X, bn:00001176n), GIVEN_NAME(X, y_0), COUNTRY_OF_CITIZENSHIP(X, y_1)'
 '2[o     0.659] OCCUPATION(X, bn:16092824n), INSTANCE_OF(X, bn:00001176n), COUNTRY_OF_CITIZENSHIP(X, y_0), PLACE_OF_BIRTH(X, y_1)'
 '2[o     0.655] INSTANCE_OF(X, bn:00001176n), OCCUPATION(X, bn:00001176n), PLACE_OF_BIRTH(X, y_0), COUNTRY_OF_CITIZENSHIP(X, y_1), GIVEN_NAME(X, y_2)'
 ... '6[o     0.535] INSTANCE_OF(X, bn:00021477n)'
 '6[o     0.548] INSTANCE_OF(X, bn:00021477n)'
 '6[o     0.546] INSTANCE_OF(X, bn:00021477n)']

In [70]:
# group by seed, and for each seed, i want the maximum value of REALTIME of each size

new_ker_real_time = new_ker_real_time.groupby(['SEED', 'SIZE']).max().reset_index()

# drop UNIT, TILDE, NEW

new_ker_real_time = new_ker_real_time.drop(['UNIT', 'TILDE', 'NEW', 'CHARACTERIZATION'], axis=1)


# put the different sizes in different columns

new_ker_real_time = new_ker_real_time.pivot(index='SEED', columns='SIZE', values='REALTIME').reset_index()


new_ker_real_time

#new_ker_real_time.to_csv('tables/new_ker_real_time.csv', index=False)

SIZE              SEED      2      3      4      5      6
0                actor  0.907  0.888  0.894  0.903  0.918
1       amusement_park  0.783  0.788  0.788  0.795  0.786
2                 band  0.785  0.790  0.892  0.888  0.890
3         championship  0.807  0.896  0.806  0.890  0.897
4     chemical_element  0.795  0.884  0.890  0.890  0.896
5              company  0.890  0.810  0.876  0.888  0.903
6               comune  0.905  0.897  0.894  0.891  0.891
7              dialect  0.787  0.782  0.789  0.791  0.788
8                 film  0.787  0.786  0.792  0.887  0.889
9            scientist  0.901  0.916  0.911  0.906  0.916
10           sculpture  0.786  0.789  0.796  0.793  0.801
11          university  0.788  0.798  0.794  0.798  0.888
12             vehicle  0.791  0.797  0.880  1.050  0.890
13          video_game  0.784  0.807  0.786  0.788  0.801

In [73]:

new_ker_real_time

SIZE              SEED      2      3      4      5      6
0                actor  0.907  0.888  0.894  0.903  0.918
1       amusement_park  0.783  0.788  0.788  0.795  0.786
2                 band  0.785  0.790  0.892  0.888  0.890
3         championship  0.807  0.896  0.806  0.890  0.897
4     chemical_element  0.795  0.884  0.890  0.890  0.896
5              company  0.890  0.810  0.876  0.888  0.903
6               comune  0.905  0.897  0.894  0.891  0.891
7              dialect  0.787  0.782  0.789  0.791  0.788
8                 film  0.787  0.786  0.792  0.887  0.889
9            scientist  0.901  0.916  0.911  0.906  0.916
10           sculpture  0.786  0.789  0.796  0.793  0.801
11          university  0.788  0.798  0.794  0.798  0.888
12             vehicle  0.791  0.797  0.880  1.050  0.890
13          video_game  0.784  0.807  0.786  0.788  0.801

In [74]:
# to csv

new_ker_real_time.to_csv('tables/new_ker_real_time.csv', index=False)