In [38]:
! pip install pandas numpy


import pandas as pd
import numpy as np

import os

Requirement already satisfied: pandas in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/derek/git/neXSim-core-ker-experiments/venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [39]:
SEEDS = ['actor', 
         'amusement_park', 
         'band', 
         'championship', 
         'chemical_element', 
         'company', 
         'comune', 
         'dialect', 
         'film', 
         'scientist', 
         'sculpture', 
         'university', 
         'vehicle', 
         'video_game']


SIZES = [2,3,4,5,6]

In [40]:
new_ker_real_time = None

print(os.listdir('../pyrunlim_output_true_true'))

for seed in SEEDS:
    for size in SIZES:
        _tmp = pd.read_csv(f'../pyrunlim_output_true_true/{seed}/{size}.csv', sep=';')
        if new_ker_real_time is None:
            new_ker_real_time = _tmp
        else:
            new_ker_real_time = pd.concat([new_ker_real_time, _tmp])

print(new_ker_real_time.columns)
print(new_ker_real_time.shape)

# drop the Unnamed: 20 column
#new_core_real_time = new_core_real_time.drop('Unnamed: 20', axis=1)

print(new_ker_real_time.columns)
print(new_ker_real_time.shape)


print(new_ker_real_time.head())

['vehicle', 'comune', 'script.sh', 'university', 'dialect', 'sculpture', 'amusement_park', 'film', 'video_game', 'scientist', 'chemical_element', 'company', 'championship', 'actor', 'band']
Index(['UNIT', 'SEED', 'SIZE', 'TILDE', 'NEW', 'REALTIME', 'CHARACTERIZATION'], dtype='object')
(700000, 7)
Index(['UNIT', 'SEED', 'SIZE', 'TILDE', 'NEW', 'REALTIME', 'CHARACTERIZATION'], dtype='object')
(700000, 7)
                        UNIT   SEED  SIZE  TILDE   NEW  REALTIME  \
0  bn:00915979n,bn:02426205n  actor     2   True  True     0.775
1  bn:15939213n,bn:05144812n  actor     2   True  True     0.777
2  bn:02688185n,bn:05472498n  actor     2   True  True     0.775
3  bn:08476136n,bn:03875359n  actor     2   True  True     0.772
4  bn:03340439n,bn:02366938n  actor     2   True  True     0.774

                                    CHARACTERIZATION
0  2[o     0.679] OCCUPATION(X, bn:00001176n), IN...
1  2[o     0.663] INSTANCE_OF(X, bn:00001176n), O...
2  2[o     0.660] INSTANCE_OF(X, bn:00001176n), O...
3  2[o     0.688] INSTANCE_OF(X, bn:00001176n), C...
4  2[o     0.665] OCCUPATION(X, bn:00001176n), IN...

In [41]:
# describe the REALTIME column
# also counting the number of times the value is >= 1

print(new_ker_real_time['REALTIME'].describe())
abs = new_ker_real_time['REALTIME'].apply(lambda x: x >= 1).sum()
perc = new_ker_real_time['REALTIME'].apply(lambda x: x >= 1).sum() / new_ker_real_time.shape[0] * 100
perc = perc.round(3)
print(f"Insances above one second of real-time computation: {abs}")
print(f"Percentage of instances above 1 second: {perc}%")

count    700000.000000
mean          0.696837
std           0.062045
min           0.540000
25%           0.663000
50%           0.665000
75%           0.772000
max           1.629000
Name: REALTIME, dtype: float64
Insances above one second of real-time computation: 18
Percentage of instances above 1 second: 0.003%

In [42]:
# COMPUTE THE PERCENTAGE OF INSTANCES THAT ARE ABOVE 1 SECOND

In [43]:
# take just the rows where the REALTIME is >= 1

#new_ker_real_time = new_ker_real_time[new_ker_real_time['REALTIME'] >= 1]

In [44]:
new_ker_real_time.head()

,UNIT,SEED,SIZE,TILDE,NEW,REALTIME,CHARACTERIZATION
0,"bn:00915979n,bn:02426205n",actor,2,True,True,0.775,"2[o 0.679] OCCUPATION(X, bn:00001176n), IN..."
1,"bn:15939213n,bn:05144812n",actor,2,True,True,0.777,"2[o 0.663] INSTANCE_OF(X, bn:00001176n), O..."
2,"bn:02688185n,bn:05472498n",actor,2,True,True,0.775,"2[o 0.660] INSTANCE_OF(X, bn:00001176n), O..."
3,"bn:08476136n,bn:03875359n",actor,2,True,True,0.772,"2[o 0.688] INSTANCE_OF(X, bn:00001176n), C..."
4,"bn:03340439n,bn:02366938n",actor,2,True,True,0.774,"2[o 0.665] OCCUPATION(X, bn:00001176n), IN..."

In [45]:
# describe the REALTIME column

print(new_ker_real_time['REALTIME'].describe())

count    700000.000000
mean          0.696837
std           0.062045
min           0.540000
25%           0.663000
50%           0.665000
75%           0.772000
max           1.629000
Name: REALTIME, dtype: float64

In [46]:
# print all the  values of the REALTIME column

print(new_ker_real_time['REALTIME'].values)

[0.775 0.777 0.775 ... 0.664 0.665 0.664]

In [47]:
print(new_ker_real_time['CHARACTERIZATION'].values)

['2[o     0.679] OCCUPATION(X, bn:00001176n), INSTANCE_OF(X, bn:00001176n), COUNTRY_OF_CITIZENSHIP(X, y_0), GIVEN_NAME(X, y_1)'
 '2[o     0.663] INSTANCE_OF(X, bn:00001176n), OCCUPATION(X, bn:16092824n), COUNTRY_OF_CITIZENSHIP(X, y_0), PLACE_OF_BIRTH(X, y_1)'
 '2[o     0.660] INSTANCE_OF(X, bn:00001176n), OCCUPATION(X, bn:00001176n), PLACE_OF_BIRTH(X, y_0), COUNTRY_OF_CITIZENSHIP(X, y_1), GIVEN_NAME(X, y_2)'
 ... '6[o     0.527] INSTANCE_OF(X, bn:00021477n)'
 '6[o     0.523] INSTANCE_OF(X, bn:00021477n)'
 '6[o     0.554] INSTANCE_OF(X, bn:00021477n)']

In [ ]:
# group by seed, and for each seed, i want the maximum value of REALTIME of each size

new_ker_real_time = new_ker_real_time.groupby(['SEED', 'SIZE']).max().reset_index()

# drop UNIT, TILDE, NEW

new_ker_real_time = new_ker_real_time.drop(['UNIT', 'TILDE', 'NEW', 'CHARACTERIZATION'], axis=1)


# put the different sizes in different columns

new_ker_real_time = new_ker_real_time.pivot(index='SEED', columns='SIZE', values='REALTIME').reset_index()


new_ker_real_time

#new_ker_real_time.to_csv('tables/new_ker_real_time.csv', index=False)

          SEED  SIZE  REALTIME
0        actor     2     0.899
1        actor     3     0.917
2        actor     4     0.906
3        actor     5     0.906
4        actor     6     0.918
..         ...   ...       ...
65  video_game     2     0.786
66  video_game     3     0.782
67  video_game     4     0.799
68  video_game     5     0.792
69  video_game     6     0.793

[70 rows x 3 columns]

In [50]:
new_ker_real_time = new_ker_real_time.pivot(index='SEED', columns='SIZE', values='REALTIME').reset_index()

new_ker_real_time

SIZE              SEED      2      3      4      5      6
0                actor  0.899  0.917  0.906  0.906  0.918
1       amusement_park  0.779  0.783  0.776  0.781  0.780
2                 band  0.887  0.882  1.208  1.417  1.629
3         championship  0.887  0.801  0.792  0.887  0.899
4     chemical_element  0.882  0.998  0.998  0.993  1.222
5              company  0.895  0.897  0.884  0.791  0.789
6               comune  0.896  1.003  1.042  0.897  0.901
7              dialect  0.779  0.778  0.782  0.787  0.788
8                 film  0.785  0.787  0.789  0.891  0.894
9            scientist  0.901  0.908  0.907  0.907  0.998
10           sculpture  0.883  0.787  0.789  0.801  0.891
11          university  0.880  0.795  0.790  0.802  0.888
12             vehicle  0.887  0.792  0.887  0.897  0.896
13          video_game  0.786  0.782  0.799  0.792  0.793

In [51]:
# to csv

new_ker_real_time.to_csv('tables/new_ker_real_time.csv', index=False)